html {
  font-size: 100%;
}

body {
  /* background-color: brown; */
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.MuiTypography-h1 .MuiTypography-h5 {
  /* font-size: 26px; */
  font-family: 'Rubik', sans-serif;
}

.MuiTypography-body1 {
  font-size: 206px;
  font-family: muli, sans-serif;
}

.p-20 {
  margin-left: 20px;
}

.home-image {
  height: 110vh;
  margin-left: 42.1%
}

.logo-image {
  height: 100px;
  width: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
}

.personalized {
  font-family: 'Rubik', sans-serif;
  font-size: 500%;
  color: #0F7DC2;
  top: 100px;
  position: absolute;
}

.learning,
.iitians {
  position: absolute;
  font-size: 64px;
  font-family: muli, sans-serif;
  top: 200px
}

.iitians {
  top: 260px;
}

.first-line {
  font-size: 1.2rem;
  position: absolute;
  top: 370px;
}

.second-line {
  font-size: 1.2rem;
  position: absolute;
  top: 400px;
}

/* .section-bg {
  background-image: url("./images/bggg.png")
} */

/* Home */
.feature-image {
  padding: 10%
}

.headings {
  margin: "7%"
}

.root {
  width: 70%;
  margin: auto;
  background: #d3d3d3;
  /* background: -webkit-linear-gradient(left, #d3d3d3, #0f7dc2);
  background: -moz-linear-gradient(left, #d3d3d3, #0f7dc2);
  background: -ms-linear-gradient(left, #d3d3d3, #0f7dc2);
  background: -o-linear-gradient(left, #d3d3d3, #0f7dc2);
  background: linear-gradient(to right, #d3d3d3, #0f7dc2); */
}

/*Test */
.MuiCardContent-root:last-child {
  padding-bottom: 24px;
  padding: 24px;
}

.subjectGrid:hover {
  background-color: #0F7DC2;
  position: "relative";
  top: "-5px";
}

.milestones {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: #0f7dc2;
}

.slick-slide iframe {
  margin: auto;
}

/* @media (min-width: 640px) {

}

@media (min-width:960px) {
  .home-image {
    margin-left: 72%
  }
} */

/* @media (min-width:1100px) {
  .home-image {
    margin-left: 72%
  }
}  */